.button {
    height: 50%;
    margin: 40px 0;
    text-align: center;
}
.button__text {
    text-align: center;
    font-weight: bold;
}
.button__img {
    cursor: pointer;
    display: inline-block;
    width: 64px;
    height: 64;
}